@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
    /* Primary Foundation */
    --color-soft-beige: #ECE6D4;
    
    /* Key Information & Depth */
    --color-deep-burgundy: #470303;
    
    /* Supportive Details & Structure */
    --color-charcoal-gray: #787878;
    
    /* Engagement & Highlights */
    --color-warm-peach: #EEC78B;
    
    /* Subtle Separation */
    --color-light-gray: #DDDDDD;
}

@font-face {
    font-family: 'Europa';
    src: url('/Europa/europa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'linotype-didot';
    src: url('/fonts/linotype-didot/DidotLTPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
}



body {
    font-family: 'Work Sans', sans-serif;
    color: gray;
}


 h1,h2,h3,h4{
    font-family: "Playfair Display", serif;
}

 p,a,button{
    font-family: "Open Sans", sans-serif;
 }

